<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <!-- What the following is doing: -->
    <!-- Rails is looking for a partial called "blog" -->
    <!-- It will then pass in the instance variable @blogs -->
    <!-- Which in other words, passes the collection of blogs -->
    <!-- to the partial "blog" -->
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path  if logged_in?(:site_admin) %>
