<div class="container portfolio-form">
  <h1>Create a new Portfolio Item</h1>

  <!-- We are sending @portfolio_item as a local data
  to the form partial -->
  <%= render 'form', portfolio_item: @portfolio_item %>  
</div>
