<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <!-- login_helper is a view helper method that takes an argument of a class, and its optional -->
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
