<h1>Dary!...Legendary!</h1>
<p>Think of me like Yoda, but instead of being little & green, I wear suits and I'm awesome. I'm your bro - I'm Broda.</p>

<p>Suits are full of joy. They're the sartorial equivalent of a baby's smile.</p>

<p>God, it’s me, Barney. What up? I know we don’t talk
much, but I know a lot of girls call out your name because of me.</p>
