<h1>Dary!...Legendary!</h1><br>
<h4>Barney “Barnabus” Stinson</h4>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "barney.jpg", width: 300, alt: "Profile Image" %>
  </div>

  <div class="col-md-8">
    <p>
      Yes, Barnabus. It’s a legen… wait for it… dary name of only the manliest of men. Though, you can already see that through my blog. I am a man, in my early thirties in New York. I work as Head of the Search Committee at Goliath National Bank, the most prominent and amazing of banks in this nation. For years, I lived by the “Bro Code“, my own code of rules that should be applied to every bro in this nation.
    </p>

    <p>
      In the Bronation.
    </p>

    <p>
      In Bromerica.
    </p>

    <p>
      I am a man of opportunity. I have exhibited eloquence, wit, and creativity in my group of friends. I am also highly competitive, and have added a list of challenges to be completed by myself and by the other Bros wishing to prove themselves in this cruel world. The list had been increasing since my best friend Ted won’t stop challenging me. I think he looks up to me, that scoundrel. But he is a good bro, inside.
    </p>

    <p>
      Speaking of what’s inside. I’m a magician. And I’m one of the most legendary filmmakers of this time. You can see my flawless skills in my video resume. I know. It’s flawless. But I can’t make them for just anyone. I tried making one for Robin, but, that didn’t go too well. Oh, “who’s Robin?” you may ask? She’s the most amazing person on this planet. Earlier this year I proposed to her, and she accepted. She’s the hottest woman in New York, and the classiest Scotch-drinking, Cigar-smoking, Canadian I know, and I can’t wait to make her my classy, Scotch-drinking, Cigar-smoking, Canadian wife.
    </p>

  </div> 
</div>
