<h1>Pages#contact</h1>

<!-- number_to_phone method takes a string and displays it as a phone number -->
<!-- We can find more helper methods by googling "ActionView methods" -->
<p>You can reach me at <%= number_to_phone "1234567890" %></p>
