<div class="inner cover">
  <h1 class="cover-heading">This Portfolio is going to be Legen...Wait for it</h1><br>
  <p class="lead">Jesus waited three days to come back to life. It was perfect! If he had only waited one day, a lot of people wouldn’t have even heard he
died. They’d be all, “Hey Jesus, what up?” and Jesus would probably
be like, “What up? I died yesterday!” 
and they’d be all, “Uh, you look pretty alive to me, dude…” and
then Jesus would have to explain how he was resurrected, and how it was a
miracle, and the dude’d be like “Uhh okay, whatever you say, bro…” <br>
And he’s not gonna come back on a Saturday. Everybody’s busy, doing chores, workin’ the loom, trimmin’ the beard,
NO. He waited the perfect number of days, three. Plus it’s Sunday, so
everyone’s in church already, and they’re all in there like “Oh no, Jesus
is dead”, and then BAM! He bursts in the back door, runnin’ up the aisle,
everyone’s totally psyched, and FYI, that’s when he invented the high five.
That’s why we wait three days to call a woman, because that’s how long Jesus
wants us to wait…. True story.</p>
  <p class="lead">
    <%= link_to "Learn more about Awesome Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
